@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f2eae2;
  padding: 1rem;
}

.content {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  width: 375px;
}

.container-img {
  background-image: url('./images/mobile.jpg');
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: 375px;
  height: 240px;
  border-radius: 8px 8px 0 0;
}

.inner_cont {
  padding: 26.24px;
}

.inner_cont h1 {
  width: 322px;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  font-family: 'Fraunces', serif;
  font-style: normal;
}

.inner_cont p {
  color: #6c7289;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 5px;
  height: 15px;
  width: 100px;
  text-align: left;
}

.inner_cont span {
  width: 322.52px;
  height: 69px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 23px;
  color: #6c7289;
  font-style: normal;
  font-size: 14px;
}

.price {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.price h2 {
  font-family: 'Fraunces', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #3d8168;
}

.price h3 {
  text-decoration: line-through;
  height: 23px;
  width: 52.48px;
  font-weight: 500;
  color: #6c7289;
  line-height: 23px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.inner_cont button {
  height: 48px;
  width: 322px;
  border-radius: 8px;
  background: #3d8168;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0;
  border: none;
}

.inner_cont button:hover {
  background-color: rgb(9, 68, 22);
  cursor: pointer;
}

@media (min-width: 1000px) {
  .container {
    width: 100vw;
    height: 100vh;
  }

  .content {
    display: flex;
    width: 48%;
    height: 85%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .desktop-img {
    background-image: url('./images/desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    background-origin: content-box;
    height: 100%;
    width: 100%;
    border-radius: 8px 0 0 8px;
  }

  /* .inner_cont {
    display: flex;
    width: 85%;
    flex-direction: column;
  } */

  .inner_cont p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 5px;
    color: #6c7289;
    width: 92px;
  }

  .inner_cont h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    line-height: 35px;
    width: 20vw;
    margin-bottom: 3rem;
  }

  .inner_cont span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    width: 20vw;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }

  .price {
    margin-top: 2rem;
    display: flex;
    gap: 1.6rem;
    margin-bottom: 1rem;
  }

  .price h2 {
    font-family: 'Fraunces', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
  }

  .price h3 {
    height: 23px;
    width: 48px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0;
    text-align: left;
  }

  .inner_cont button {
    width: 20vw;
    height: 3.6rem;
  }
}
